@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*Estilo para los titulos*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing:1.5px;
}

.main {
    padding: 110px;
}
.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}

.contenedor {
    margin: auto;
    width: 99%;
}

.contenedor:hover {
    cursor: pointer;
}

/*--------------Estilos del header--------------*/
.header {
    height: 68px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

/*--------------Estilos del menu--------------*/
.nav {
    position:absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 20px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select{
    background: white;
    color: #FBA919;
}

.mostrar {
    left: 0;
}

/*--------------Estilos del banner--------------*/
.banner {
    margin-top: -70px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
    
}

.banner img {
    width: 100%;
    
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}
.banner__txt {
    display: none;
}

.banner__social .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    /*text-decoration: none;*/
    font-size: 100px;
    padding: 70px;
    width: 90px;
    height: 300px;
    line-height: 10px;
}

/*--------------Estilos de islas--------------*/

.islas__columna {
    background: #FBA919;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

/*--------------Estilos de recetas--------------*/
.recetas__columna {
    position: relative;
    margin-bottom: 30px;
}
.recetas__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.recetas__titulo {
    font-size: 25px;
    margin: 5px 0;
}

.recetas__img {
    width: 100%;
    height: 100%;
}
    
/*--------------Estilo del footer--------------*/

.footer {
    background: #333;
    color: #ffF;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    
}

/*--------------Estilos del foro--------------*/
a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.foro {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #dee1e3;
    padding: 3px;
}

.container-inputs {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c7cacb;
}
.input-48 {
    width: 48%;
}

.input-100 {
    width: 100%;
}

.btn-enviar {
    background: #03658c;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-enviar:hover {
    background: #03658c;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/*Lista de Comentarios*/

.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/*Lineas Detalles*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

/*Avatar*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 7px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/*Caja del comentario*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
    
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 7px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'author';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*--------------Estilos responsive--------------*/
/*Tamaño mobil*/
@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    
    .islas , .recetas {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    
    .islas__columna {
        width: 31%;
    } 
    
    .islas__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    
    .section__titulo {
        width: 100%;
    }
    
    .recetas {
        flex-wrap: wrap;
        margin-top: 0;
    }
    
    .recetas__columna {
        width: 48%;
    }

}

/*Tamaño tablet*/
@media(min-width:768px) {
    .banner__titulo {
        font-size: 50px;
    }
    
    .recetas__titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {
    .contenedor {
        width: 900px;
    }
    
    .section__titulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    
    .menu {
        display: flex;
    }
    
    .icon-menu {
        display: none;
    }
    
    .menu__link {
        background: none;
        font-size: 20px;
    }
    
    .select {
        color: #fff;
        background: #FBA919;
    }
    
    .banner__titulo {
        font-size: 60px;
    }
    
    .banner__txt {
        font-size: 25px;
    }
    
    .islas {
        margin-top: -120px;
    }
    
    .islas__columna {
        padding: 30px;
    }
    .islas__titulo {
        font-size: 40px;
        text-align: center;
    }
    
    .recetas__descripcion {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .recetas__titulo {
        font-size: 50px;
    }
    
    .recetas__txt {
        font-size: 20px;
        
    }
}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    
    .logo {
        font-size: 60px;
    }
    
    .banner .contenedor {
        top: 40%;
    }
    
    .islas {
        margin-top: -220px;
    }
}
